<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/screen.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <div class="hero"><img src="/images/phester.jpg"/></div>
  </body>
</html>